<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      Adatvédelmi elvek
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-card-subtitle>Az adatkezelő neve: </mat-card-subtitle>
      <br />
      Doren&nbsp;kft.
      <br />
      <mat-card-subtitle>Az adatkezelő címe: </mat-card-subtitle>
      <br />
      Doren&nbsp;kft.
      <br />
      <mat-card-subtitle>Elérhetőség: </mat-card-subtitle>
      <br />
      <mat-card-subtitle>Az adatkezelés megnevezése: </mat-card-subtitle>
      <br />
      az adatkezelés a felhasználók önkéntes, tájékozott, és határozott hozzájárulása alapján az internetes honlapon
      regisztrált felhasználók esetében
      <br />
      <mat-card-subtitle>Az adatkezelés jogalapja: </mat-card-subtitle>
      <br />
      a személyes adatok védelméről és a közérdekű adatok nyilvánosságáról szóló 1992. évi LXIII. törvény (Avtv.) 3. §
      (1) bekezdése alapján az érintett önkéntes hozzájárulása
      <br />
      <mat-card-subtitle>A</mat-card-subtitle><mat-card-subtitle> kezelt adatok köre: </mat-card-subtitle>
      <br />
      A. A felhasználó által kötelezően megadott adatok név, cím,telefonszám,szállítási cím és e-mail cím,valamint
      számlázási név és cím.
      <br />
      B.&nbsp; Az adatokhoz kizárólag az adatkezelő fér hozzá,azokat harmadik személynek nem adja ki.
      <br />
      <mat-card-subtitle>Az adatkezelés időtartama: </mat-card-subtitle>
      <br />
      A. A felhasználó által kötelezően megadott adatok esetében, amíg a felhasználó tagja az oldalnak, (a felhasználó
      önkéntes döntése alapján, törlési igényének beérkezésétől számított 5 munkanapon belül töröljük az adatokat.
      Amennyiben a felhasználó jogellenesen, megtévesztően használ személyes
      adatot, vagy bűncselekményt valósít meg, akkor a felhasználási feltételekben biztosított módon a hathi.hu a
      regisztráció törlésével egyidejűleg valamennyi személyes adatát a tudomásszerzéssel egyidejűleg azonnal
      törölheti).
      <br />
      <mat-card-subtitle>A</mat-card-subtitle><mat-card-subtitle> személyes adatok törlése: </mat-card-subtitle>
      <br />
      A törlési igényt e-mailben a&nbsp;hathirestaurant&commat;gmail.com címre kell eljuttatni. A Szolgáltató a törlési
      igény beérkezésétől számított 5 munkanapon belül törli az adatokat.
      <br />
      <mat-card-subtitle>Az adatkezelési szabályzat módosításának lehetősége: </mat-card-subtitle>
      <br />
      Az&nbsp;doren&nbsp;kft. fenntartja a jogot, hogy jelen adatkezelési szabályzatot a felhasználók előzetes
      értesítése mellett egyoldalúan módosítsa. Ön a szolgáltatásnak a módosítás hatálybalépését követő használatával
      elfogadja a módosított adatkezelési szabályzatot.
      <br />
      <mat-card-subtitle>A</mat-card-subtitle><mat-card-subtitle> felhasználók jogai személyes adataik kezelésével kapcsolatban: </mat-card-subtitle>
      <br />
      Személyes adatai kezeléséről a felhasználók tájékoztatást kérhetnek. Az adatkezelő kérésre tájékoztatást ad az
      érintettnek az általa kezelt adatairól, az adatkezelés céljáról, jogalapjáról, időtartamáról, az adatfeldolgozó
      nevéről, címéről (székhelyéről) és az adatkezeléssel összefüggő
      tevékenységéről, továbbá arról, hogy kik és milyen célból kapják vagy kapták meg az adatokat. A tájékoztatás
      iránti kérelmet e-mailben az hathirestaurant&commat;gmail.com címre kell eljuttatni, amire 8 munkanapon belül
      választ kap az érintett. A felhasználók kérhetik adataik törlését, az adatkezelés
      időtartama pont alatt meghatározottak szerint.
      <br />
      <mat-card-subtitle> Jogérvényesítési lehetőségek: </mat-card-subtitle>
      <br />
      A felhasználó jogérvényesítési lehetőségeit az Adatvédelmi törvény valamint a Ptk. alapján bíróság előtt
      gyakorolhatja, valamint kérheti az adatvédelmi biztos segítségét is (dr. Péterfalvi Attila adatvédelmi biztos,
      1051 Budapest, Székhely: Nádor u. 22. Postacím: 1387 Budapest Pf. 40. További
      kérdéssel, illetve észrevételeivel keresse az üzemeltető munkatársát a hathirestaurant&commat;gmail.com e-mail
      címen.

  </mat-card-content>
</mat-card>