<form [formGroup]="registerForm" (ngSubmit)="submit()">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxFlex="100%">
      <mat-form-field>
        <mat-label>Vezetéknév</mat-label>
        <input matInput formControlName="lastName" name="lastName">
        <mat-error *ngIf="registerForm.controls.lastName.errors?.['required']">Vezetéknév kötelező</mat-error>
        <mat-error *ngIf="registerForm.controls.lastName.errors?.['email']">Vezetéknév nem email formátumú</mat-error>
      </mat-form-field>
    </div>
    <ng-container formGroupName="shippingAddress">
      <div fxFlex="100%">
        <mat-form-field>
          <mat-label>Város</mat-label>
          <input matInput formControlName="city" name="city">
          <mat-error *ngIf="registerForm.controls.shippingAddress.controls.city.errors?.['required']">Város kötelező</mat-error>
        </mat-form-field>
      </div>  
    </ng-container>

    <!-- <div fxFlex="100%">
      <mat-form-field>
        <mat-label>Keresztnév</mat-label>
        <input [(ngModel)]="user.firstName" matInput formControlName="firstName" name="firstName" minlength="2">
        <mat-error *ngIf="registerForm.value.firstName">Keresztnév kötelező</mat-error>
      </mat-form-field>
    </div> 

    <div fxFlex="100%">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input [(ngModel)]="user.email" matInput formControlName="email" name="email" required email type="email">
        <mat-error *ngIf="registerForm.value.email">Invalid email</mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="100%">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input [(ngModel)]="user.password" formControlName="password" required matInput
          [type]="hide() ? 'password' : 'text'" pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z]).{8,}$"/>
        <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()">
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="registerForm.value.password">Password must be a combination of lower-case, upper-case, numbers and at least 9 characters long</mat-error>
      </mat-form-field>
    </div>
  -->
    <div fxFlex="100%">
      <button mat-stroked-button color="primary" type="submit"
        [disabled]="!registerForm.valid">Register<mat-icon>chevron_right</mat-icon></button>
    </div>
  </div>
</form>