<div>
  <b>Az adatkezelő neve: </b>
  <br />
  Doren&nbsp;kft.
  <br />
  <b>Az adatkezelő címe: </b>
  <br />
  Doren&nbsp;kft.
  <br />
  <b>Elérhetőség: </b>
  <br />
  <b>Az adatkezelés megnevezése: </b>
  <br />
  az adatkezelés a felhasználók önkéntes, tájékozott, és határozott hozzájárulása alapján az internetes honlapon regisztrált felhasználók esetében
  <br />
  <b>Az adatkezelés jogalapja: </b>
  <br />
  a személyes adatok védelméről és a közérdekű adatok nyilvánosságáról szóló 1992. évi LXIII. törvény (Avtv.) 3. § (1) bekezdése alapján az érintett önkéntes hozzájárulása
  <br />
  <b>A</b><b> kezelt adatok köre: </b>
  <br />
  A. A felhasználó által kötelezően megadott adatok név, cím,telefonszám,szállítási cím és e-mail cím,valamint számlázási név és cím.
  <br />
  B.&nbsp; Az adatokhoz kizárólag az adatkezelő fér hozzá,azokat harmadik személynek nem adja ki.
  <br />
  <b>Az adatkezelés időtartama: </b>
  <br />
  A. A felhasználó által kötelezően megadott adatok esetében, amíg a felhasználó tagja az oldalnak, (a felhasználó önkéntes döntése alapján, törlési igényének beérkezésétől számított 5 munkanapon belül töröljük az adatokat. Amennyiben a felhasználó jogellenesen, megtévesztően használ személyes
  adatot, vagy bűncselekményt valósít meg, akkor a felhasználási feltételekben biztosított módon a hathi.hu a regisztráció törlésével egyidejűleg valamennyi személyes adatát a tudomásszerzéssel egyidejűleg azonnal törölheti).
  <br />
  <b>A</b><b> személyes adatok törlése: </b>
  <br />
  A törlési igényt e-mailben a&nbsp;hathirestaurant&commat;gmail.com címre kell eljuttatni. A Szolgáltató a törlési igény beérkezésétől számított 5 munkanapon belül törli az adatokat.
  <br />
  <b>Az adatkezelési szabályzat módosításának lehetősége: </b>
  <br />
  Az&nbsp;doren&nbsp;kft. fenntartja a jogot, hogy jelen adatkezelési szabályzatot a felhasználók előzetes értesítése mellett egyoldalúan módosítsa. Ön a szolgáltatásnak a módosítás hatálybalépését követő használatával elfogadja a módosított adatkezelési szabályzatot.
  <br />
  <b>A</b><b> felhasználók jogai személyes adataik kezelésével kapcsolatban: </b>
  <br />
  Személyes adatai kezeléséről a felhasználók tájékoztatást kérhetnek. Az adatkezelő kérésre tájékoztatást ad az érintettnek az általa kezelt adatairól, az adatkezelés céljáról, jogalapjáról, időtartamáról, az adatfeldolgozó nevéről, címéről (székhelyéről) és az adatkezeléssel összefüggő
  tevékenységéről, továbbá arról, hogy kik és milyen célból kapják vagy kapták meg az adatokat. A tájékoztatás iránti kérelmet e-mailben az hathirestaurant&commat;gmail.com címre kell eljuttatni, amire 8 munkanapon belül választ kap az érintett. A felhasználók kérhetik adataik törlését, az adatkezelés
  időtartama pont alatt meghatározottak szerint.
  <br />
  <b> Jogérvényesítési lehetőségek: </b>
  <br />
  A felhasználó jogérvényesítési lehetőségeit az Adatvédelmi törvény valamint a Ptk. alapján bíróság előtt gyakorolhatja, valamint kérheti az adatvédelmi biztos segítségét is (dr. Péterfalvi Attila adatvédelmi biztos, 1051 Budapest, Székhely: Nádor u. 22. Postacím: 1387 Budapest Pf. 40. További
  kérdéssel, illetve észrevételeivel keresse az üzemeltető munkatársát a hathirestaurant&commat;gmail.com e-mail címen.
</div>

