<h1>
  Kedves L&aacute;togat&oacute;, k&ouml;sz&ouml;ntelek honlapunkon!
</h1>

<div>
  <div>

    <p>
      Kiss Tibor vagyok, a Hathi Indiai Kifőzde &uuml;zletvezetője.
      &Eacute;tterm&uuml;nk a XIII. Gyöngyösi sétány 4. szám alatt
      tal&aacute;lhat&oacute;.

      Mag&aacute;nemberk&eacute;nt mindig is vonz&oacute;dtam az indiai
      kult&uacute;ra ir&aacute;nt, de az indiai konyhaműv&eacute;szettel egy
      szerencs&eacute;s v&eacute;letlen folyt&aacute;n ker&uuml;ltem
      kapcsolatba a 2000-es &eacute;vek elej&eacute;n. Ekkor ny&iacute;lt
      alkalmam ugyanis egy j&oacute; nevű indiai &eacute;tterem
      &eacute;l&eacute;n megismerkedni a kulin&aacute;ris titkokkal.

      2006. elej&eacute;től saj&aacute;t v&aacute;llalkoz&aacute;s
      keret&eacute;ben folytatom a kor&aacute;bban megkezdett
      k&uuml;ldet&eacute;st, teh&aacute;t az indiai konyha
      n&eacute;pszerűs&iacute;t&eacute;s&eacute;t a magyarok
      k&ouml;r&eacute;ben.

      Az indiaiakn&aacute;l az egyik legszerencs&eacute;sebb &oacute;men, ha
      megl&aacute;tnak egy elef&aacute;ntot, ugyanis az elef&aacute;nt
      Gan&eacute;sa istent, a j&oacute; szerencs&eacute;t, &eacute;s az
      akad&aacute;lyok lek&uuml;zd&eacute;s&eacute;t reprezent&aacute;lja.
      Ez&eacute;rt is v&aacute;lasztottam &eacute;tterm&uuml;nk
      elnevez&eacute;s&eacute;&uuml;l a szerencsehoz&oacute;
      elef&aacute;ntot (hindi nyelven: hathi).

      Napjainkban sok sz&oacute; esik az eg&eacute;szs&eacute;ges
      t&aacute;pl&aacute;lkoz&aacute;sr&oacute;l. A sokf&eacute;le
      z&ouml;lds&eacute;g, az eg&eacute;szs&eacute;ges csirkeh&uacute;s,
      illetőleg a k&uuml;l&ouml;nleges fűszerek haszn&aacute;lata e
      tekintetben is előkelő helyet biztos&iacute;t az indiai
      konyh&aacute;nak.

      &Eacute;tterm&uuml;nk autentikus jelleg&eacute;t az
      Indi&aacute;b&oacute;l &eacute;rkezett szak&aacute;csok &eacute;s az
      eredeti alapanyagok (fűszerek, rizs) biztos&iacute;tj&aacute;k.

      Nem titkolt c&eacute;lunk megk&uuml;zdeni azzal a t&eacute;vhittel,
      miszerint az indiai &eacute;tterem csakis m&eacute;regdr&aacute;ga, az
      &aacute;tlagos fogyaszt&oacute; sz&aacute;m&aacute;ra
      el&eacute;rhetetlen &eacute;teleket k&iacute;n&aacute;l.

      M&eacute;rs&eacute;kelt &aacute;raink lehetőv&eacute; teszik, hogy a
      k&ouml;zeli irodah&aacute;zak eb&eacute;delő
      k&ouml;z&ouml;ns&eacute;ge ak&aacute;r napi rendszeress&eacute;ggel
      n&aacute;lunk &eacute;tkezzen.

      A n&ouml;vekvő n&eacute;pszerűs&eacute;g illetőleg a konyhai
      h&aacute;tt&eacute;r fejleszt&eacute;se &eacute;s
      bőv&iacute;t&eacute;se r&eacute;v&eacute;n lehetős&eacute;g&uuml;nk
      ny&iacute;lt az online-rendel&eacute;s bevezet&eacute;s&eacute;re is.
      B&aacute;r a kisz&aacute;ll&iacute;t&aacute;si lehetős&eacute;g
      jelenleg m&eacute;g n&eacute;h&aacute;ny ker&uuml;letre
      korl&aacute;toz&oacute;dik, de a k&ouml;zeli j&ouml;vőben
      sz&aacute;nd&eacute;kunkban &aacute;ll azt eg&eacute;sz Budapest
      ter&uuml;let&eacute;re kiterjeszteni.

      Rem&eacute;lj&uuml;k, hogy e n&eacute;h&aacute;ny sorral siker&uuml;lt
      felkelten&uuml;nk &eacute;rdeklőd&eacute;s&eacute;t az indiai
      &eacute;telek &eacute;s az &eacute;tterm&uuml;nk ir&aacute;nt.

      Szeretettel v&aacute;rjuk mielőbbi szem&eacute;lyes
      l&aacute;togat&aacute;s&aacute;t illetve
      online-rendel&eacute;s&eacute;t!

      Tisztelettel:

      Kiss Tibor<br>
      &eacute;tterem-vezető
    </p>
  </div>
</div>
